* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sub-section {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  font-size: large;
}
.bubbles {
  background-color: rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.full-bubbles {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: royalblue;
  margin-left: 10px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-bubbles:hover {
  cursor: pointer;
  background-color: red;
}

.playagain {
  height: 40px;
  width: 120px;
  background-color: blue;
  color: black;
  margin-left: 50px;
  border: none;
  font-weight: 700;
}
